body{
    padding:0;
    margin:0;
}
.content{
    width:100%;
    background-color: rgb(38, 38, 73);
}
.content h1{
    font-size: 4vw;
    color:white;
    text-align: center;
    height: 5hw;

}
.content .people{
    width: 90%;
    height: 60%;
    background-color: rgb(38, 38, 73);
    margin: -2% auto;
}

.person1,.person2,.person3,.person4{
background-color: rgb(243, 236, 243);
width:20vw;
height: 0%;
display: inline-block;
opacity: .8.5;
margin: 1%;
border: none;
outline: none;
border-radius: 10px;
}
img{
    border-radius: 50%;
    border: none;
    outline: none;
    width: 70%;
    height: 40%;
    padding-top: 2%;
    padding:2% 15%;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.content .people i:hover{
    color:red;
}
.content .people i{
    
    color: rgb(20, 20, 20);
    font-size: 129%;;
}
h3{
    text-align: center;
    padding-top:0;
    margin-top: 1%;
    margin-bottom: 1%;
}
p{
    text-align: center;
    color: rgb(48, 47, 47);
    letter-spacing: 1px;;
}
img:hover{
    opacity: .4;
}

.btn{
    padding-left: 38%;
}


@media (max-width:500px){
    
    .content .people i{
        display: none;
    }
}
#a1{
    text-align: center;
    padding-top:5%;
}









